SUBSYSTEMS=="sensors", DEVPATH=="*ssp_sensor*", \
RUN+="/bin/sh -c '/bin/chown :input %S/%p/enable %S/%p/set_cal_data %S/%p/*_poll_delay'"

SUBSYSTEMS=="sensors", DEVPATH=="*ssp_sensor*", \
RUN+="/bin/sh -c '/bin/chsmack -a \* %S/%p/enable %S/%p/set_cal_data %S/%p/*_poll_delay'"
