[Unit]
Description=Sensor Daemon

[Service]
User=sensor
Group=sensor
Type=notify
ExecStart=/usr/bin/sensord
Restart=always
RestartSec=0
MemoryLimit=20M
Sockets=sensord_command.socket
Sockets=sensord_event.socket

[Install]
WantedBy=multi-user.target
